mixin svg(name, width, height, className)
  svg(class=(className ? className : null), width=width, height=height)
    use(xlink:href=('img/sprite.svg#' + name))

mixin picture(image, format, width, height, altText, classData)
  - var comment = `1х: ${width}px; 2x: ${width * 2}px`;
  //
    #{comment}
  picture
    img(src=`img/content/${image}.${format}`, width=width, height=height, alt=altText data-caption=classData)



